{% macro list(items) %}
{% if items|length %}
<ul>
	{% for item in items %}
	<li>
		<a href="{{ item.url|default('#') }}">{{ item.title|raw }}</a>
		{{ _self.list(item.children) }}
	</li>
	{% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro button(content, size, variant, tag) %}
{% if tag == 'a' %}
	{{ _self.button_link(content, size, variant) }}
{% else %}
<input type="{{ tag|default("button") }}" class="{{ _self.button_class(size, variant) }}" value="{{ content }}"/>
{% endif %}
{% endmacro %}

{% macro button_class(size, variant) %}
{% spaceless %}
btn{{ size ? ' btn--' ~ size }}{{ variant ? ' btn--' ~ variant }}
{% endspaceless %}
{% endmacro %}

{% macro button_link(content, size, variant) %}
<a href="#" class="{{ _self.button_class(size, variant) }}">{{ content }}</a>
{% endmacro %}

{% macro button_sizes(content, variant, tag) %}
{{ _self.button(content, 'small', variant, tag) }}
<br/>
{{ _self.button(content, '', variant, tag) }}
<br/>
{{ _self.button(content, 'large', variant, tag) }}
<br/>
{{ _self.button(content, 'block', variant, tag) }}
{% endmacro %}